.kon-button{
    --font-size: .8rem;
    --radius: 12px;
    --padding: 8px 16px;
    --icon-margin: 12px;

    --ripple-color: var(--kon-on-primary);
    --shadow-color: var(--kon-primary-rgb);
    --component-background: var(--kon-primary);
    --component-foreground: var(--kon-on-primary);

    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--icon-margin);
    padding: var(--padding);
    background: var(--component-background);
    color: var(--component-foreground);
    border-radius: var(--radius);
    font-size: var(--font-size);
    overflow: hidden;
    cursor: pointer;
    transition-property: box-shadow, transform, background-color, border-radius, border, color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    &:focus, &:focus-visible{
        outline: none;
    }
    &.kon-tonal{
        --ripple-color: var(--kon-on-secondary-container);
        --shadow-color: var(--kon-secondary-container-rgb);
        --component-background: var(--kon-secondary-container);
        --component-foreground: var(--kon-on-secondary-container);
        &:hover, &:focus{
            box-shadow: none;
            transform: none;
        }
    }
    &.kon-block{
        display: block;
        width: 100%;
    }
    &.kon-icon{
        /* helps to make it 1:1 aspect ratio but doesn't force it (content must be 1:1) */
        --padding: 8px;
    }
    &.kon-text{
        --ripple-color: var(--kon-primary);
        --component-background: transparent;
        --component-foreground: var(--kon-primary);
        &:hover, &:focus{
            box-shadow: none;
            transform: none;
        }
        &:hover, &:focus-visible{
            &::before{
                opacity: 1;
                transform: scale(1);
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: var(--radius);
            background: rgba(var(--kon-primary-rgb), 0.1);
            transform: scale(0);
            transition-property: transform, opacity;
            transition-duration: 150ms;
            transition-timing-function: ease;
            transform-origin: center;
            z-index: 0;
        }
        &.kon-danger{
            --ripple-color: var(--kon-error);
            --component-foreground: var(--kon-error);
            &::before{
                background: rgba(var(--kon-error-rgb), 0.1);
            }
        }
    }
    &.kon-border{
        --ripple-color: var(--component-foreground);
        --border-width: 1px;
        --border-color: var(--kon-outline);
        --component-foreground: var(--kon-primary);
        background: transparent;
        box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
        & > *{
            color: var(--component-foreground);
        }
        &:hover, &:focus-visible{
            --border-width: 2px;
            --border-color: var(--kon-primary);
            /* override the glow effect in the default button (inherit does not work with variables) */
            box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
            transform: none;
        }
        &.kon-danger{
            --ripple-color: var(--kon-error);
            --component-foreground: var(--kon-error);
            --border-color: var(--kon-error);
        }
    }
    &:not(.kon-text, .kon-border)
    {
        &:hover, &:focus{
            box-shadow: 0 10px 15px -8px rgba(var(--shadow-color), .8);
            transform: translateY(-2px);
        }
        &.kon-danger{
            --ripple-color: var(--kon-on-error);
            --shadow-color: var(--kon-error-rgb);
            --component-background: var(--kon-error);
            --component-foreground: var(--kon-on-error);
        }
    }
    &:not(.kon-text, .kon-border):active{
        box-shadow: none;
        transform: translateY(0px);
    }
    &:disabled{
        pointer-events: none;
        box-shadow: none;
        transform: translateY(0px);
        &:not(.kon-loading-disable){
            opacity: .6;
        }
    }
    & .kon-button-loader{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        & .kon-progress{
            color: currentColor;
        }
    }
    & > .kon-content{
        display: inline-flex;
        align-items: center;
        gap: 8px;
        & > .kon-trailing{
            margin-left: auto;
        }
        & > .kon-leading, & > .kon-trailing{
            display: flex;
            align-items: center;
        }
    }
    &.kon-loading{
        & > .kon-content{
            opacity: 0;
        }
    }
    &.kon-loading-disable{
        pointer-events: none;
    }
}